Body{
    background-image:linear-gradient(to left, black, white)
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:column;
    gap:0.7em;
}

.containerg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    height:130px;
    
}



.genero{
    height:90px;
    border:2px solid black;
    border-radius:0.6em;
    flex-direction:row;
    line-height: 50px;
    margin: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.genero:hover{
     background-image:linear-gradient(to right, black, gray);
    color:white;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2{
    display:flex;
    justify-content: center;
    text-align: center;
    
}


.Nome{
    display: flex;
    justify-content:center;
    align-items:center;
    gap:0.4em;
    flex-direction:column;
    
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.4em;
    flex-direction:column;
    
}

.senha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    flex-direction:column;

}



.nascimento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30px;
    width: 173px; 
    border-radius:0.5em;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    
}

.input:hover{
    background-image:linear-gradient(to right, black, gray);
    color:white;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 193px;  
    text-align:center;
    border-radius:0.5em;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    
}

.input1:hover{
    background-image:linear-gradient(to right, black, gray);
    color:white;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

button:hover{
    background-image:linear-gradient(to right, black, gray);
    color:white;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

.containerb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    height:550px 
}

.fim{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width:388px;
    height:90px;
    border:2px solid linear-gradient(to left,black,gray);
    border-radius:0.6em;
    flex-direction:row;
    font-size:30px;
    background-image:linear-gradient(to left,black,gray);
    cursor:poiter;
    transition:transform 0.3s ease-out;
    line-height:50px;
    margin:50px;
    color:white;
}

a{
    text-decoration:none;
    color:white;
}

a:hover{
    color:white;
}
